.scrollable-container {
  height: 420px; /* Set a fixed height or use max-height */
  overflow: auto; /* Enable scrolling */
}

.scrollable-content {
  /* Optional: If you only want vertical scrolling */
  overflow-x: hidden;
}

.navbar-brand.active {
  --bs-navbar-active-color: darkmagenta;
}

.nav-link {
  --bs-nav-link-color: gold;
  --bs-nav-link-hover-color: goldenrod;
}

.nav-link.active {
  --bs-navbar-active-color: #fff;
  color:magenta;
  /* font-family: cursive; */
}

.navbar-home {
  background-color: #ffffff;
}

body {
  background-image: url("../../../public/picnic-background.jpg");
  /* background-image: url("picnic.jpg"); */
  background-size:400px;
  background-position: center;
}
