.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  --bs-navbar-brand-color: gold;
  --bs-navbar-brand-hover-color: goldenrod;
}

.navbar-brand.active {
  --bs-navbar-active-color: darkmagenta;
}

.nav-link {
  --bs-nav-link-color: gold;
  --bs-nav-link-hover-color: goldenrod;
}

.nav-link.active {
  --bs-navbar-active-color: #fff;
  color:magenta;
  /* font-family: cursive; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.navbar {
  background-color: #e52632;
}

.icon {
  font-size: 29px;
}

#text-center {
  font-size: 35px;
}
